.column(span="row")
    .title-section Welcome to my CV
.column(span="row")
    button.button-disc 
        i.icon__youtube 
        span.text-button Yt 
.column(span="row")
    h1 Cosmin Negrut
.column(span="row")
    h2 Junior Web Developer 
.column(span="row")
    h3 Info about me 
.column(span="row")
    .box-shadow 
        p I want to become a Web Developer because I wish to innovate and design.
        p I like coding and I want to become a Full Stack Developer 
.column(span="row")
    button.button-pill
        i.icon__download 
        span.text-button Get my CV 
.column(span="row")
    button.disc 
        i.icon__arrow-down 
        span.text-button AD
